<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <connectionStrings>
        <add name="z1776136ConnectionString" connectionString="Data Source=omisbi3.niunt.niu.edu;Initial Catalog=z1776136;User ID=z1776136;Password=Bw1243$h11"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
      <compilation targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

</configuration>
